html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #bec8e4;
	background: url(../img/background1.webp) #bec8e4;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
    overflow-x: hidden;
    overflow-y: auto;
}

body::-webkit-scrollbar {
   display: none; /* Chrome Safari */
}

#nuoyis-load {
	position: fixed;
	z-index:999;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-size: 18px;
}

.loader {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.loader span {
    position: absolute;
    width: 100px;
    height: 100px;
    animation: load-animate 3.5s linear infinite;
}

.loader span::before {
    position: absolute;
    content: "";
    background-color: #CCC;
    width: 10px;
    height: 10px;
    bottom: 0;
    left: calc(50% - 5px);
    border-radius: 50%;
}

.loader span:nth-child(1) {
    animation-delay: 0.1s;
}

.loader span:nth-child(2) {
    animation-delay: 0.2s;
}

.loader span:nth-child(3) {
    animation-delay: 0.3s;
}

.loader span:nth-child(4) {
    animation-delay: 0.4s;
}

.loader span:nth-child(5) {
    animation-delay: 0.5s;
}

.nuoyis-header {
	width: 100%;
	height:100%;
	background-color: #66CCFF;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../img/background2.webp') #66CCFF;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.nuoyis-header .nuoyis-header-content {
	padding-top: 25%;
	padding-bottom: 2.125rem;
	text-align: center;
}

.nuoyis-header .text-container {
	margin-bottom: 3rem;
}

.nuoyis-header h1 {
	margin-bottom: 0.5rem;
	color: #fff;
}

.nuoyis-header .p-large {
	margin-top: 1rem;
	color: #dfe5ec;
}

.nuoyis-header .btn-solid-lg {
	margin-right: 0.5rem;
	margin-bottom: 1.25rem;
}
.nuoyis-main{
    padding-top: 5%;
    overflow: hidden;
    padding-bottom: 5%;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
}

.nuoyis-tree-about{
    padding-bottom: 5%;
}

.text-container,.nuoyis-main,.nuoyis-tree-about,.nuoyis-daohang,.nuoyis-project,.nuoyis-youlian,.nuoyis-zanzhu{
    -webkit-animation: nuoyis-divin 0.5s;
    animation: nuoyis-divin 0.5s;
}

.nuoyis-daohang {
	width: 100%;
	text-align: center;
}

.nuoyis-daohang header{
    margin-top: 30px;
    margin-bottom: 30px;
}

.nuoyis-daohang-background {
	display: flex;
	margin: 0 auto;
	height: 50px;
	border-radius: 26px;
	background-color: rgba(255,255,255,.8);
	box-shadow: 0 0 32px 8px rgb(0 0 0 / 10%);
	line-height: 40px;
}

.nuoyis-project {
    display: grid;
	padding: 0px 8%;
	color: #66CCFF;
	grid-gap: 30px;
	padding-bottom: 3rem;
	text-decoration: none;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.nuoyis-project-url {
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    background-color: #fa9200;
    box-shadow: 4px 6px 16px gray;
    transition: transform 0.5s,background 0.5s;
}

.nuoyis-project-url i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #303ef7;
}

.nuoyis-project-url h2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.nuoyis-project-url:hover {
    background: #303ef7;
    color: #fff;
    transform: scale(1.05);
}

.nuoyis-project-url:hover i {
    color: #fff;
}

.nuoyis-project-text{
    color: #66CCFF;
    padding: 0 0 5px;
}

.nuoyis-project-text p{
    margin:0;
    font-size: 10px;
}

.nuoyis-project-images{
    height: 150px;
    display: block;
    position: relative;
    background-image: url(../img/morenbackground.jpg);
    background-size: cover;
    border-radius: 5px 5px 0 0;
    background-position: center;
    background-repeat: no-repeat;
}

.nuoyis-daohang-header{
  display: initial;
  padding-bottom: 30px;
  background-image: linear-gradient(135deg, #f02fc2, #6094ea, #fdcbf1, #fe3dc4);
  background-size: 500%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  animation: bgAnimation 10s linear infinite;
}

footer a {
	color: #66CCFF;
	text-decoration: none;
}

.nuoyis-footer-layout{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1280px;
    margin: 0 auto;
}

.nuoyis-footer-right{
    margin-left: 100px;
}

@media screen and (max-width:630px) {
    footer {
        display: none;
    }
    
	.nuoyis-daohang-header{
	  font-size: 45px;
	}
	
	.nuoyis-header .nuoyis-header-content {
	    padding-top: 50%!important;
	}
}

@media screen and (min-width:1000px){
     .nuoyis-header .nuoyis-header-content {
	    padding-top: 20%!important;
    }
}

@media screen and (min-width:631px) and (max-width:900px){
    footer {
    	bottom: 0;
    	width: 100%;
        padding: max(1%,10px);
        background: rgba(255,255,255,.8);
        margin-left: auto;
        margin-right: auto;
    }
    
    .nuoyis-footer-left{
        color: #aaa;
        margin-left: 10px;
        line-height: 24px;
    }
}

@media screen and (min-width:631px){
    .nuoyis-daohang-header{
	  font-size: 65px;
	}
}

@media screen and (min-width:901px){
    footer {
    	bottom: 0;
    	width: 100%;
        padding: max(2%,15px);
        background: rgba(255,255,255,.8);
        margin-left: auto;
        margin-right: auto;
    }
    
    .nuoyis-footer-left{
        color: #aaa;
        margin-left: 100px;
        margin-top: 10px;
        line-height: 27px;
    }
}

/*动画区域*/
@keyframes bgAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes nuoyis-divin {
from {
    opacity: 0;
    transform: translateY(30px);
    }
to {
    opacity: 1;
    transform: translateY(0);
    }
}

@keyframes load-animate {

    74%{
        transform: rotate(600deg);
    }
    79% {
        transform: rotate(720deg);
        opacity: 1;
    }
    80% {
        transform: rotate(720deg);
        opacity: 0;
    }
    100% {
        transform: rotate(810deg);
        opacity: 0;
    }
}
