::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #f9f9fd;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #e1e1e1;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #66CCFF;
}

::-webkit-scrollbar-thumb:hover {
    background-color: pink;
}

::-webkit-scrollbar-thumb:active {
    background-color: red;
}

::-webkit-scrollbar-button {
    display: none;
}

*,html,body{
    margin:0;
    padding:0;
}

body {
    transition: background-color .25s, color .25s;
    color: var(--color-text)!important;
    background-color: var(--color-body);
}