@import './base.css';

.nuoyis-project {
  display: grid;
  padding: 0px 8%;
  color: #66CCFF;
  grid-gap: 30px;
  padding-bottom: 3rem;
  text-decoration: none;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.nuoyis-project-url {
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  background-color:#f2f2f2;
  box-shadow: 4px 6px 16px gray;
  transition: transform 0.5s,background 0.5s;
}

.nuoyis-project-url i {
  font-size: 40px;
  color: #303ef7;
}

.nuoyis-project-url h2 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.nuoyis-project-url:hover {
  background: #303ef7;
  color: #fff;
  transform: scale(1.05);
}

.nuoyis-project-url:hover i {
  color: #fff;
}

.nuoyis-project-text{
  color: black;
  padding: 20px 20px;
}

.nuoyis-project-text p{
  margin:0;
  font-size: 10px;
}

.nuoyis-project-images{
  height: 150px;
  display: block;
  position: relative;
  background-image: url(../img/morenbackground.jpg);
  background-size: cover;
  border-radius: 5px 5px 0 0;
  background-position: center;
  background-repeat: no-repeat;
}

.routerbtn {
  width: 300px;
  padding: 15px;
  margin:30px 30px 30px 30px;
  border: 2px solid rgba(255, 145, 0);
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
  color: rgba(255, 145, 0);
  text-shadow: 2px 2px 5px rgba(15, 8, 0, 0.664);
  background-color: rgba(255, 255, 255, 0.048);
  text-decoration: none;
}

.nuoyis-about, .nuoyis-web-start, .nuoyis-web-sla, .nuoyis-web-make, .nuoyis-demo, .nuoyis-youlian, .nuoyis-callus {
  height: auto;
  width: 70%;
  margin: 0 auto;
  margin-bottom: calc(3vw);
}

.nuoyis-zhengwen {
  font-size: 1.10rem;
  margin-bottom: 30px;
}

.nuoyis-youlian{
  width:100%;
}

@media screen and (max-width:999px) {
  .nuoyis-header-text{
    text-align: center;
    height: 80%;
    margin: 0 auto;
    margin-top: 30%;
  }

  .nuoyis-home {
    text-align: center;
    height: 80%;
    margin: 0 auto;
    margin-top: 30%;
  }

  .routerbtn {
    font-size: 15px;
  }

  .nuoyis-footer{
    display: none;
  }
}

@media screen and (min-width:1000px){
  .nuoyis-main {
    width: 65%;
    height: 90%;
    margin: 0 auto;
  }

  .nuoyis-home{
    display: flex;
    flex-direction: column;
  }

  .nuoyis-main p{
    padding: 0 0 0 5px;
    margin: 0 0 30px 0;
    font-weight: bold;
    font-size: 25px;
  }

  .nuoyis-main span:nth-child(1){
    font-size: 150px;
    font-weight: bold;
    color: rgb(255, 164, 89);
    text-shadow: 2px 5px 5px rgb(71, 36, 0);

  }

  .nuoyis-main span:nth-child(2) {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 30px;
    color: rgb(255, 252, 250);
    text-shadow: 2px 5px 5px rgb(10, 5, 0);
  }

  .nuoyis-footer-left{
    float:left;
    height:100%;
    line-height:27px;
  }

  .nuoyis-footer-right{
    height:100%;
    margin-left: 55%;
  }
}